* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
}

html{
  font-size: 10px;
  background: #eee;
}

header{
  background: #fff;
  border-bottom: .1px solid #000;
  height: 60px;
  padding: 10px;
}

header h1 {
  font-size: 11px;
  margin-top: 12px;
  margin-left: 10px;
}

.hero{
  width: 100%;
  display: block;
  margin: 0 auto;
}

.main{
  width: 30%;
  height: 296px;
  background: #2f4efe;
  margin-top: 50px;
  float: left;
  padding: 3%;
  /* margin-left: 5%; */
}

.main h1{
  font-size: 3rem;
}

.horoscope{
  width: 20%;
  height: 200px;
  background: #fff;
  margin-top: 50px;
  float: left;
  /* margin-left: 10px; */
  padding: 3%;

}

select, button {
  margin: 10px 3px 16px 0;
}

span{
  margin-top: 10px;
}

/* Mobile */

@media only screen and (max-width: 768px){


}
/* Iphone */
@media (min-width: 375px) and (max-width: 768px){
.hero{
  width: 90%;
}
  .main{
    width: 100%;
    height: 200px;
    background: #2f4efe;
    display: block;
    padding: 3%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .main h1{
    font-size: 3rem;
  }

  .horoscope{
    width: 100%;
    height: 200px;
    background: #fff;
    display: block;
    padding: 3%;
    margin-top: 0;
}

}
  /* ipad */
@media (min-width: 768px) and (max-width: 1024px){

  .hero{
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .main{
    width: 100%;
    height: 200px;
    background: #2f4efe;
    display: block;
    padding: 3%;
    margin-bottom: 0;
    margin-top: 50px;

  }

  .main h1{
    font-size: 3rem;
  }

  .horoscope{
    width: 100%;
    height: 200px;
    background: #fff;
    display: block;
    padding: 3%;
    margin-top: 0;

  }

}
